/* --------------------------começo do header------------------------- */
header{
    display: flex; 
    flex-direction: row;
    padding: 30px;
    position: sticky;
    background-color: white;
    top: 0;
    border-bottom: 2px solid cornsilk;
}

#site-logo{
    width: 55px;
}

div{
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
    gap: 20px;
}

button{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: larger;
    color: rgb(30, 30, 30);
    border: 0px;
    background-color: rgb(255, 255, 255);
}

button:hover{
    background-color: cornsilk;
}

/* media query header celular */
@media only screen and (max-width: 600px) {
  button{
    font-size: 1em;
  }
  #site-logo{
    width: 30px;
    height: 30px;
  }
  div{
    gap: 0px;
  }
}


/* --------------------------fim do header------------------------- */

section{
    border-bottom: 2px solid cornsilk;
}

#greeting{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: max-content;
    min-height: 800px;
    max-width:1900px;
    width: 100%;
    background-image: url(assets/lousa.png);
    background-size: cover;
    font-family: 'Caveat', serif;
    color: aliceblue;
}

#teacher{
    font-size: 4em;
}

#greeting > div{
    justify-content: center;
    align-items: center;
    
}
#greeting > div > h2{
    
    font-size: 3em;
    margin: 0px;
}
a{
    width: 100%;
    text-align: center;
    font-size: 3em;
}
a:link {
  color: aliceblue;
}

/* visited link */
a:visited {
  color: antiquewhite;
}

/* mouse over link */
a:hover {
  color: cornsilk;
}

/* selected link */
a:active {
  color: aliceblue;
}

/* media query homework celular */
@media only screen and (max-width: 600px) {
    #greeting{
        justify-content: center;
        gap: 15px;
        min-height: 600px;
    }
    #teacher{
        font-size: 2em;
        text-align: center;
    }
    #greeting > div > h2{
        font-size: 2em;
        text-align: center;
    }
    a{
        width: 100%;
        text-align: center;
        font-size: 2em;
    }

}


/* --------------------------fim do greeting------------------------- */

#homeworks{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 800px;
    max-width:1900px;
    width: 100%;
    background-image: url(assets/fundo-livros-dark.png);
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    color: aliceblue;
    gap: 0px;
}

#hwTitle{
    width: 70%;
    text-align: center;
    text-shadow: -5px 5px black;
}

#homeworks-wrapper{
    height: 100%;
    width: 70%;;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 50px;  
}

#homeworks-wrapper > button{
    height: 200px;
    width: 325px;
    border-radius: 10px;
    text-align: start;
    display: flex;
    font-size: 1.8vw;
    background-size: cover;
    cursor: pointer;
    border: 2px solid cornsilk;
    color: cornsilk;
    text-shadow: -2px 2px black;
}
@media only screen and (max-width: 600px) {
    #homeworks{
        padding-bottom: 30px;
    }

    #hwTitle{
        font-size: 1em;
    }

    #homeworks-wrapper{
        width: 100%;
        justify-content: space-evenly;
        gap: 10px;
    }

    #homeworks-wrapper > button{
        height: 150px;
        width: 90%;
        font-size: 1em;
    
    }
}


/* --------------------------fim do homeworks------------------------- */

footer{
    display: flex;
    flex-direction: row;
    background-color: cornsilk;
    padding-bottom: 40px;
    height: fit-content;
}

#socialsdiv{
    flex-direction: column;
    height: 150px; width: 20%; margin-top: 50px;
    
}
#socialsdiv > div{
    justify-content: center;
}

.socials{
    font-size: 2em;
    width: fit-content;
    cursor: pointer;
}


.bi-whatsapp{
    color: #25D366;
}
.bi-whatsapp:hover{
    color: black;
}

.bi-linkedin{
    color: #0077B5;
}
.bi-linkedin:hover{
    color: black;
}


.bi-instagram{
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-image: linear-gradient(#6228d7, #ee2a7b,#f9ce34);
    border-radius: 5px;
    color: white;
}
.bi-instagram:hover{
    color: black;
}

@media only screen and (max-width: 600px) {
    footer{
        flex-direction: column;
    }
    
    #socialsdiv{
        width: 100%;
    }

    #socialsdiv > div{
        justify-content: space-evenly;
        width: 100%;
    }
}

/* --------------------------fim do socials------------------------- */

#faq-wrapper{
    flex-direction: column;
    justify-content: center;
    background-image: url(assets/question\ marks.png);
    width: 60%;
    gap: 0px;
    margin-top: 50px;
    border-radius: 15px;
}

#faq-wrapper > h1{
    
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    width: 100%;
    text-align: center;
    color: rgb(30, 30, 30);
    
    
    padding-top: 25px;
    padding-bottom: 15px;
}

#acordion-wrapper{
    flex-direction: column;
    justify-content: start;
    gap: 0px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: white;
  color: rgb(30, 30, 30);
  font-weight: bolder;
  font-size: larger;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: justify;
  border: 2px solid #d9d9d9;
  border-radius: 5px;
  transition: 0.4s;
  margin-top: 10px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: cornsilk;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: larger;
    color: rgb(30, 30, 30);
  text-align: justify;
  background-color: white;
  display: none;
  justify-content: start;
  overflow: hidden;
  margin-bottom: 20px;
  transition: 1s ease-out;
}

p{
 padding-inline: 20px;
}

@media only screen and (max-width: 600px) {
    #faq-wrapper{
        width: 100%;
    }
}
/* --------------------------fim do footer------------------------- */