
            .text-white {
                color: #FFFFFF
            } 

            .bg-white {
                background-color: #FFFFFF
            }
        
            .text-gainsboro {
                color: #DCDCDC
            } 

            .bg-gainsboro {
                background-color: #DCDCDC
            }
        
            .text-white {
                color: #FFFFFF
            } 

            .bg-white {
                background-color: #FFFFFF
            }
        
            .text-white {
                color: #FFFFFF
            } 

            .bg-white {
                background-color: #FFFFFF
            }
        
            .text-white {
                color: #FFFFFF
            } 

            .bg-white {
                background-color: #FFFFFF
            }
        
            .text-white {
                color: #FFFFFF
            } 

            .bg-white {
                background-color: #FFFFFF
            }
        
            .text-khaki {
                color: #F0E68C
            } 

            .bg-khaki {
                background-color: #F0E68C
            }
        
            .text-white {
                color: #FFFFFF
            } 

            .bg-white {
                background-color: #FFFFFF
            }
        
            .text-white {
                color: #FFFFFF
            } 

            .bg-white {
                background-color: #FFFFFF
            }
        
            .text-honeydew {
                color: #F0FFF0
            } 

            .bg-honeydew {
                background-color: #F0FFF0
            }
        
            .text-black {
                color: #000000
            } 

            .bg-black {
                background-color: #000000
            }
        
            .text-black {
                color: #000000
            } 

            .bg-black {
                background-color: #000000
            }
        
            .text-black {
                color: #000000
            } 

            .bg-black {
                background-color: #000000
            }
        
            .text-black {
                color: #000000
            } 

            .bg-black {
                background-color: #000000
            }
        
            .text-black {
                color: #000000
            } 

            .bg-black {
                background-color: #000000
            }
        
            .text-white {
                color: #FFFFFF
            } 

            .bg-white {
                background-color: #FFFFFF
            }
        
            .text-whitesmoke {
                color: #F5F5F5
            } 

            .bg-whitesmoke {
                background-color: #F5F5F5
            }
        
            .text-whitesmoke {
                color: #F5F5F5
            } 

            .bg-whitesmoke {
                background-color: #F5F5F5
            }
        
            .text-whitesmoke {
                color: #F5F5F5
            } 

            .bg-whitesmoke {
                background-color: #F5F5F5
            }
        
            .text-whitesmoke {
                color: #F5F5F5
            } 

            .bg-whitesmoke {
                background-color: #F5F5F5
            }
        
            .text-whitesmoke {
                color: #F5F5F5
            } 

            .bg-whitesmoke {
                background-color: #F5F5F5
            }
        
            .text-whitesmoke {
                color: #F5F5F5
            } 

            .bg-whitesmoke {
                background-color: #F5F5F5
            }
        
            .text-whitesmoke {
                color: #F5F5F5
            } 

            .bg-whitesmoke {
                background-color: #F5F5F5
            }
        
            .text-whitesmoke {
                color: #F5F5F5
            } 

            .bg-whitesmoke {
                background-color: #F5F5F5
            }
        
            .text-black {
                color: #000000
            } 

            .bg-black {
                background-color: #000000
            }
        
            .text-white {
                color: #FFFFFF
            } 

            .bg-white {
                background-color: #FFFFFF
            }
        
            .text-honeydew {
                color: #F0FFF0
            } 

            .bg-honeydew {
                background-color: #F0FFF0
            }
        
            .text-whitesmoke {
                color: #F5F5F5
            } 

            .bg-whitesmoke {
                background-color: #F5F5F5
            }
        
            .text-whitesmoke {
                color: #F5F5F5
            } 

            .bg-whitesmoke {
                background-color: #F5F5F5
            }
        
            .text-whitesmoke {
                color: #F5F5F5
            } 

            .bg-whitesmoke {
                background-color: #F5F5F5
            }
        
            .text-black {
                color: #000000
            } 

            .bg-black {
                background-color: #000000
            }
        
            .text-black {
                color: #000000
            } 

            .bg-black {
                background-color: #000000
            }
        
            .text-black {
                color: #000000
            } 

            .bg-black {
                background-color: #000000
            }
        
            .text-black {
                color: #000000
            } 

            .bg-black {
                background-color: #000000
            }
        
            .text-black {
                color: #000000
            } 

            .bg-black {
                background-color: #000000
            }
        
            .text-black {
                color: #000000
            } 

            .bg-black {
                background-color: #000000
            }
        
            .text-black {
                color: #000000
            } 

            .bg-black {
                background-color: #000000
            }
        
            .text-black {
                color: #000000
            } 

            .bg-black {
                background-color: #000000
            }
        
            .text-black {
                color: #000000
            } 

            .bg-black {
                background-color: #000000
            }
        
            .text-black {
                color: #000000
            } 

            .bg-black {
                background-color: #000000
            }
        #e__11063 { 
 width: 1200px;
background-color: rgba(255, 255, 255, 1.00);
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
padding: 0px 0px 0px 0px;
width: 1200px; 
 } 
#e__20137 { 
 border-bottom: 1px solid rgba(217, 217, 217, 1.00);
background-color: rgba(255, 255, 255, 1.00);
display: flex;
flex-direction: row;
column-gap: 24px;
width: calc(100% -  64px);
flex-wrap: wrap;
align-items: center;
justify-content: flex-start;
flex: 1 1 0%;
padding: 32px 32px 32px 32px; 
 } 
#e__20181 { 
 width: 53px;
height: 48.00px;
padding: 0px 0px 0px 0px;
transform: rotate(180deg); 
 } 
#e__20143 { 
 display: flex;
flex-direction: row;
column-gap: 8px;
flex-wrap: wrap;
align-items: flex-start;
justify-content: flex-end;
flex: 1 1 0%;
padding: 0px 0px 0px 0px; 
 } 
#e__I20143776819971 { 
 width: 90px;
display: flex;
flex-direction: row;
column-gap: 8px;
align-items: center;
justify-content: center;
flex: 0 0 auto;
padding: 8px 8px 8px 8px;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
border-bottom-right-radius: 8px;
border-bottom-left-radius: 8px; 
 } 
#e__I20143776819971776819965 { 
 width: -Infinitypx;
height: 16.00px;
color: rgba(30, 30, 30, 1.00);
font-family: Inter;
font-weight: 400;
padding: 0px 0px 0px 0px;
text-align: left;
font-size: 16px; 
 } 
#e__I20143776820093 { 
 width: 136px;
display: flex;
flex-direction: row;
column-gap: 8px;
align-items: center;
justify-content: center;
flex: 0 0 auto;
padding: 8px 8px 8px 8px;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
border-bottom-right-radius: 8px;
border-bottom-left-radius: 8px; 
 } 
#e__I20143776820093776819967 { 
 width: -Infinitypx;
height: 16.00px;
color: rgba(30, 30, 30, 1.00);
font-family: Inter;
font-weight: 400;
padding: 0px 0px 0px 0px;
text-align: left;
font-size: 16px; 
 } 
#e__I20143776820145 { 
 width: 82px;
display: flex;
flex-direction: row;
column-gap: 8px;
align-items: center;
justify-content: center;
flex: 0 0 auto;
padding: 8px 8px 8px 8px;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
border-bottom-right-radius: 8px;
border-bottom-left-radius: 8px; 
 } 
#e__I20143776820145776819967 { 
 width: -Infinitypx;
height: 16.00px;
color: rgba(30, 30, 30, 1.00);
font-family: Inter;
font-weight: 400;
padding: 0px 0px 0px 0px;
text-align: left;
font-size: 16px; 
 } 
#e__7370 { 
 display: flex;
flex-direction: column;
row-gap: 3px;
width: calc(100% -  0px);
align-items: flex-start;
justify-content: flex-start;
flex: 1 1 0%;
padding: 0px 0px 0px 0px; 
 } 
#e__7371 { 
 border: 1px solid rgba(255, 255, 255, 1.00);
width: 1200px;
height: 200.00px;
color: rgba(255, 255, 255, 1.00);
font-family: Just Me Again Down Here;
font-weight: 400;
padding: 0px 0px 0px 0px;
text-align: center;
letter-spacing: 31%;
font-size: 55px; 
 } 
#e__7381 { 
 width: 1200px;
height: 200.00px;
color: rgba(255, 255, 255, 1.00);
font-family: Just Me Again Down Here;
font-weight: 400;
padding: 0px 0px 0px 0px;
text-align: center;
font-size: 40px; 
 } 
#e__7431 { 
 width: 1200px;
height: 81.00px;
color: rgba(255, 255, 255, 1.00);
font-family: Just Me Again Down Here;
font-weight: 400;
padding: 0px 0px 0px 0px;
text-align: center;
text-decoration: underline;
font-size: 40px; 
 } 
#e__7432 { 
 width: 1200px;
height: 129.00px;
color: rgba(233, 222, 122, 1.00);
font-family: Just Me Again Down Here;
font-weight: 400;
padding: 0px 0px 0px 0px;
text-align: center;
font-size: 40px; 
 } 
#e__13363 { 
 display: flex;
flex-direction: column;
row-gap: 48px;
width: calc(100% -  128px);
align-items: flex-start;
justify-content: flex-start;
flex: 1 1 0%;
padding: 64px 64px 64px 64px; 
 } 
#e__13447 { 
 width: 274px;
display: flex;
flex-direction: column;
row-gap: 8px;
align-items: flex-start;
justify-content: flex-start;
flex: 0 0 auto;
padding: 0px 0px 0px 0px; 
 } 
#e__13448 { 
 height: 58.00px;
color: rgba(235, 255, 238, 1.00);
font-family: Inter;
font-weight: 700;
width: calc(100% -  NaNpx);
padding: 0px 0px 0px 0px;
text-align: left;
letter-spacing: -2%;
font-size: 48px; 
 } 
#e__13365 { 
 display: flex;
flex-direction: row;
column-gap: 48px;
width: calc(100% -  0px);
flex-wrap: wrap;
align-items: flex-start;
justify-content: flex-start;
flex: 1 1 0%;
padding: 0px 0px 0px 0px; 
 } 
#e__13455 { 
 border: 4px solid rgba(217, 217, 217, 1.00);
height: 147.00px;
display: flex;
flex-direction: column;
row-gap: 24px;
align-items: flex-start;
justify-content: flex-start;
flex: 1 1 0%;
padding: 24px 24px 24px 24px;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
border-bottom-right-radius: 8px;
border-bottom-left-radius: 8px; 
 } 
#e__13456 { 
 display: flex;
flex-direction: row;
width: calc(100% -  0px);
align-items: flex-start;
justify-content: flex-start;
flex: 1 1 0%;
padding: 0px 0px 0px 0px; 
 } 
#e__I1345620878466 { 
 height: 29.00px;
color: rgba(12, 12, 13, 1.00);
font-family: Inter;
font-weight: 600;
padding: 0px 0px 0px 0px;
text-align: left;
letter-spacing: -2%;
font-size: 24px; 
 } 
#e__13480 { 
 border: 4px solid rgba(217, 217, 217, 1.00);
height: 147.00px;
display: flex;
flex-direction: column;
row-gap: 24px;
align-items: flex-start;
justify-content: flex-start;
flex: 1 1 0%;
padding: 24px 24px 24px 24px;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
border-bottom-right-radius: 8px;
border-bottom-left-radius: 8px; 
 } 
#e__13481 { 
 display: flex;
flex-direction: row;
width: calc(100% -  0px);
align-items: flex-start;
justify-content: flex-start;
flex: 1 1 0%;
padding: 0px 0px 0px 0px; 
 } 
#e__I1348120878466 { 
 height: 29.00px;
color: rgba(255, 255, 255, 1.00);
font-family: Inter;
font-weight: 600;
padding: 0px 0px 0px 0px;
text-align: right;
letter-spacing: -2%;
font-size: 24px; 
 } 
#e__13505 { 
 border: 4px solid rgba(217, 217, 217, 1.00);
height: 147.00px;
display: flex;
flex-direction: column;
row-gap: 24px;
align-items: flex-start;
justify-content: flex-start;
flex: 1 1 0%;
padding: 24px 24px 24px 24px;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
border-bottom-right-radius: 8px;
border-bottom-left-radius: 8px; 
 } 
#e__13506 { 
 display: flex;
flex-direction: row;
width: calc(100% -  0px);
align-items: flex-start;
justify-content: flex-start;
flex: 1 1 0%;
padding: 0px 0px 0px 0px; 
 } 
#e__I1350620878466 { 
 height: 29.00px;
color: rgba(235, 255, 238, 1.00);
font-family: Inter;
font-weight: 600;
padding: 0px 0px 0px 0px;
text-align: left;
letter-spacing: -2%;
font-size: 24px; 
 } 
#e__13427 { 
 border: 4px solid rgba(217, 217, 217, 1.00);
height: 147.00px;
display: flex;
flex-direction: column;
row-gap: 24px;
align-items: flex-start;
justify-content: flex-start;
flex: 1 1 0%;
padding: 24px 24px 24px 24px;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
border-bottom-right-radius: 8px;
border-bottom-left-radius: 8px; 
 } 
#e__13428 { 
 display: flex;
flex-direction: row;
width: calc(100% -  0px);
align-items: flex-start;
justify-content: flex-start;
flex: 1 1 0%;
padding: 0px 0px 0px 0px; 
 } 
#e__I1342820878466 { 
 height: 29.00px;
color: rgba(245, 245, 245, 1.00);
font-family: Inter;
font-weight: 600;
padding: 0px 0px 0px 0px;
text-align: left;
letter-spacing: -2%;
font-size: 24px; 
 } 
#e__13530 { 
 border: 4px solid rgba(217, 217, 217, 1.00);
height: 147.00px;
display: flex;
flex-direction: column;
row-gap: 24px;
align-items: flex-start;
justify-content: flex-start;
flex: 1 1 0%;
padding: 24px 24px 24px 24px;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
border-bottom-right-radius: 8px;
border-bottom-left-radius: 8px; 
 } 
#e__13531 { 
 display: flex;
flex-direction: row;
width: calc(100% -  0px);
align-items: flex-start;
justify-content: flex-start;
flex: 1 1 0%;
padding: 0px 0px 0px 0px; 
 } 
#e__I1353120878466 { 
 height: 29.00px;
color: rgba(243, 243, 243, 1.00);
font-family: Inter;
font-weight: 600;
padding: 0px 0px 0px 0px;
text-align: left;
letter-spacing: -2%;
font-size: 24px; 
 } 
#e__13555 { 
 border: 4px solid rgba(217, 217, 217, 1.00);
height: 147.00px;
display: flex;
flex-direction: column;
row-gap: 24px;
align-items: flex-start;
justify-content: flex-start;
flex: 1 1 0%;
padding: 24px 24px 24px 24px;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
border-bottom-right-radius: 8px;
border-bottom-left-radius: 8px; 
 } 
#e__13556 { 
 display: flex;
flex-direction: row;
width: calc(100% -  0px);
align-items: flex-start;
justify-content: flex-start;
flex: 1 1 0%;
padding: 0px 0px 0px 0px; 
 } 
#e__I1355620878466 { 
 height: 29.00px;
color: rgba(243, 243, 243, 1.00);
font-family: Inter;
font-weight: 600;
padding: 0px 0px 0px 0px;
text-align: left;
letter-spacing: -2%;
font-size: 24px; 
 } 
#e__13628 { 
 width: 1200px;
display: flex;
flex-direction: row;
width: calc(100% -  0px);
align-items: flex-start;
justify-content: flex-start;
padding: 0px 0px 0px 0px; 
 } 
#e__13629 { 
 width: 270px;
background-color: rgba(255, 255, 255, 0.70);
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
padding: 30px 0px 30px 0px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px; 
 } 
#e__13916 { 
 height: 22.00px;
color: rgba(0, 0, 0, 1.00);
font-family: Roboto Mono;
font-weight: 700;
width: calc(100% -  NaNpx);
padding: 0px 0px 0px 0px;
text-align: center;
font-size: 16px; 
 } 
#e__13632 { 
 display: flex;
flex-direction: row;
column-gap: 16px;
width: calc(100% -  0px);
align-items: center;
justify-content: center;
flex: 1 1 0%;
padding: 0px 0px 0px 0px; 
 } 
#e__13635 { 
 width: 24px;
display: flex;
flex-direction: row;
column-gap: 10px;
align-items: center;
justify-content: flex-start;
flex: 0 0 auto;
padding: 0px 0px 0px 0px; 
 } 
#e__13636 { 
 width: 24px;
height: 24.00px;
padding: 0px 0px 0px 0px; 
 } 
#e__13639 { 
 width: 24px;
display: flex;
flex-direction: row;
column-gap: 10px;
align-items: center;
justify-content: flex-start;
flex: 0 0 auto;
padding: 0px 0px 0px 0px; 
 } 
#e__13640 { 
 width: 24px;
height: 24.00px;
padding: 0px 0px 0px 0px; 
 } 
#e__13930 { 
 width: 32px;
height: 32.00px;
padding: 0px 0px 0px 0px; 
 } 
#e__I13930775812072 { 
 width: 26.518310546875px;
height: 26.57px;
padding: 0px 0px 0px 0px; 
 } 
#e__131134 { 
 width: 640px;
background-color: rgba(255, 255, 255, 0.70);
display: flex;
flex-direction: column;
row-gap: 16px;
align-items: flex-end;
justify-content: flex-start;
flex: 0 0 auto;
padding: 30px 20px 30px 20px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px; 
 } 
#e__13915 { 
 height: 90.00px;
color: rgba(0, 0, 0, 1.00);
font-family: Roboto Mono;
font-weight: 700;
width: calc(100% -  NaNpx);
padding: 0px 0px 0px 0px;
text-align: center;
font-size: 32px; 
 } 
#e__131085 { 
 width: 640px;
display: flex;
flex-direction: column;
row-gap: 16px;
align-items: flex-start;
justify-content: flex-start;
padding: 0px 0px 0px 0px; 
 } 
#e__131086 { 
 border: 1px solid rgba(217, 217, 217, 1.00);
background-color: rgba(255, 255, 255, 1.00);
display: flex;
flex-direction: column;
row-gap: 8px;
width: calc(100% -  32px);
align-items: flex-start;
justify-content: flex-start;
flex: 1 1 0%;
padding: 16px 16px 16px 16px;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
border-bottom-right-radius: 8px;
border-bottom-left-radius: 8px; 
 } 
#e__I1310861499551 { 
 display: flex;
flex-direction: row;
column-gap: 8px;
width: calc(100% -  0px);
align-items: center;
justify-content: flex-start;
flex: 1 1 0%;
padding: 0px 0px 0px 0px; 
 } 
#e__I1310861499552 { 
 height: 22.00px;
color: rgba(30, 30, 30, 1.00);
font-family: Inter;
font-weight: 600;
padding: 0px 0px 0px 0px;
text-align: left;
font-size: 16px; 
 } 
#e__I1310861499553 { 
 width: 20px;
height: 20.00px;
padding: 0px 0px 0px 0px; 
 } 
#e__I1310861499553775811236 { 
 width: 10px;
height: 5.00px;
padding: 0px 0px 0px 0px; 
 } 
#e__I1310861499573 { 
 display: flex;
flex-direction: row;
width: calc(100% -  0px);
align-items: center;
justify-content: center;
flex: 1 1 0%;
padding: 0px 0px 0px 0px; 
 } 
#e__I1310861499574 { 
 height: 66.00px;
color: rgba(30, 30, 30, 1.00);
font-family: Inter;
font-weight: 400;
padding: 0px 0px 0px 0px;
text-align: left;
font-size: 16px; 
 } 
#e__131087 { 
 border: 1px solid rgba(217, 217, 217, 1.00);
height: 54.00px;
background-color: rgba(245, 245, 245, 1.00);
display: flex;
flex-direction: row;
width: calc(100% -  32px);
align-items: center;
justify-content: flex-start;
flex: 1 1 0%;
padding: 16px 16px 16px 16px;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
border-bottom-right-radius: 8px;
border-bottom-left-radius: 8px; 
 } 
#e__I1310871499475 { 
 display: flex;
flex-direction: row;
column-gap: 8px;
align-items: center;
justify-content: flex-start;
flex: 1 1 0%;
padding: 0px 0px 0px 0px; 
 } 
#e__I1310871499476 { 
 height: 22.00px;
color: rgba(30, 30, 30, 1.00);
font-family: Inter;
font-weight: 600;
padding: 0px 0px 0px 0px;
text-align: left;
font-size: 16px; 
 } 
#e__I1310871499477 { 
 width: 20px;
height: 20.00px;
padding: 0px 0px 0px 0px; 
 } 
#e__I1310871499477775811218 { 
 width: 10px;
height: 5.00px;
padding: 0px 0px 0px 0px; 
 } 
#e__131088 { 
 border: 1px solid rgba(217, 217, 217, 1.00);
height: 54.00px;
background-color: rgba(245, 245, 245, 1.00);
display: flex;
flex-direction: row;
width: calc(100% -  32px);
align-items: center;
justify-content: flex-start;
flex: 1 1 0%;
padding: 16px 16px 16px 16px;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
border-bottom-right-radius: 8px;
border-bottom-left-radius: 8px; 
 } 
#e__I1310881499475 { 
 display: flex;
flex-direction: row;
column-gap: 8px;
align-items: center;
justify-content: flex-start;
flex: 1 1 0%;
padding: 0px 0px 0px 0px; 
 } 
#e__I1310881499476 { 
 height: 22.00px;
color: rgba(30, 30, 30, 1.00);
font-family: Inter;
font-weight: 600;
padding: 0px 0px 0px 0px;
text-align: left;
font-size: 16px; 
 } 
#e__I1310881499477 { 
 width: 20px;
height: 20.00px;
padding: 0px 0px 0px 0px; 
 } 
#e__I1310881499477775811218 { 
 width: 10px;
height: 5.00px;
padding: 0px 0px 0px 0px; 
 } 
#e__131089 { 
 border: 1px solid rgba(217, 217, 217, 1.00);
height: 54.00px;
background-color: rgba(245, 245, 245, 1.00);
display: flex;
flex-direction: row;
width: calc(100% -  32px);
align-items: center;
justify-content: flex-start;
flex: 1 1 0%;
padding: 16px 16px 16px 16px;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
border-bottom-right-radius: 8px;
border-bottom-left-radius: 8px; 
 } 
#e__I1310891499475 { 
 display: flex;
flex-direction: row;
column-gap: 8px;
align-items: center;
justify-content: flex-start;
flex: 1 1 0%;
padding: 0px 0px 0px 0px; 
 } 
#e__I1310891499476 { 
 height: 22.00px;
color: rgba(30, 30, 30, 1.00);
font-family: Inter;
font-weight: 600;
padding: 0px 0px 0px 0px;
text-align: left;
font-size: 16px; 
 } 
#e__I1310891499477 { 
 width: 20px;
height: 20.00px;
padding: 0px 0px 0px 0px; 
 } 
#e__I1310891499477775811218 { 
 width: 10px;
height: 5.00px;
padding: 0px 0px 0px 0px; 
 } 
#e__131090 { 
 border: 1px solid rgba(217, 217, 217, 1.00);
height: 54.00px;
background-color: rgba(245, 245, 245, 1.00);
display: flex;
flex-direction: row;
width: calc(100% -  32px);
align-items: center;
justify-content: flex-start;
flex: 1 1 0%;
padding: 16px 16px 16px 16px;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
border-bottom-right-radius: 8px;
border-bottom-left-radius: 8px; 
 } 
#e__I1310901499475 { 
 display: flex;
flex-direction: row;
column-gap: 8px;
align-items: center;
justify-content: flex-start;
flex: 1 1 0%;
padding: 0px 0px 0px 0px; 
 } 
#e__I1310901499476 { 
 height: 22.00px;
color: rgba(30, 30, 30, 1.00);
font-family: Inter;
font-weight: 600;
padding: 0px 0px 0px 0px;
text-align: left;
font-size: 16px; 
 } 
#e__I1310901499477 { 
 width: 20px;
height: 20.00px;
padding: 0px 0px 0px 0px; 
 } 
#e__I1310901499477775811218 { 
 width: 10px;
height: 5.00px;
padding: 0px 0px 0px 0px; 
 } 
#e__131091 { 
 border: 1px solid rgba(217, 217, 217, 1.00);
height: 54.00px;
background-color: rgba(245, 245, 245, 1.00);
display: flex;
flex-direction: row;
width: calc(100% -  32px);
align-items: center;
justify-content: flex-start;
flex: 1 1 0%;
padding: 16px 16px 16px 16px;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
border-bottom-right-radius: 8px;
border-bottom-left-radius: 8px; 
 } 
#e__I1310911499475 { 
 display: flex;
flex-direction: row;
column-gap: 8px;
align-items: center;
justify-content: flex-start;
flex: 1 1 0%;
padding: 0px 0px 0px 0px; 
 } 
#e__I1310911499476 { 
 height: 22.00px;
color: rgba(30, 30, 30, 1.00);
font-family: Inter;
font-weight: 600;
padding: 0px 0px 0px 0px;
text-align: left;
font-size: 16px; 
 } 
#e__I1310911499477 { 
 width: 20px;
height: 20.00px;
padding: 0px 0px 0px 0px; 
 } 
#e__I1310911499477775811218 { 
 width: 10px;
height: 5.00px;
padding: 0px 0px 0px 0px; 
 } 
#e__131092 { 
 border: 1px solid rgba(217, 217, 217, 1.00);
height: 54.00px;
background-color: rgba(245, 245, 245, 1.00);
display: flex;
flex-direction: row;
width: calc(100% -  32px);
align-items: center;
justify-content: flex-start;
flex: 1 1 0%;
padding: 16px 16px 16px 16px;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
border-bottom-right-radius: 8px;
border-bottom-left-radius: 8px; 
 } 
#e__I1310921499475 { 
 display: flex;
flex-direction: row;
column-gap: 8px;
align-items: center;
justify-content: flex-start;
flex: 1 1 0%;
padding: 0px 0px 0px 0px; 
 } 
#e__I1310921499476 { 
 height: 22.00px;
color: rgba(30, 30, 30, 1.00);
font-family: Inter;
font-weight: 600;
padding: 0px 0px 0px 0px;
text-align: left;
font-size: 16px; 
 } 
#e__I1310921499477 { 
 width: 20px;
height: 20.00px;
padding: 0px 0px 0px 0px; 
 } 
#e__I1310921499477775811218 { 
 width: 10px;
height: 5.00px;
padding: 0px 0px 0px 0px; 
 } 
#e__131093 { 
 border: 1px solid rgba(217, 217, 217, 1.00);
height: 54.00px;
background-color: rgba(245, 245, 245, 1.00);
display: flex;
flex-direction: row;
width: calc(100% -  32px);
align-items: center;
justify-content: flex-start;
flex: 1 1 0%;
padding: 16px 16px 16px 16px;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
border-bottom-right-radius: 8px;
border-bottom-left-radius: 8px; 
 } 
#e__I1310931499475 { 
 display: flex;
flex-direction: row;
column-gap: 8px;
align-items: center;
justify-content: flex-start;
flex: 1 1 0%;
padding: 0px 0px 0px 0px; 
 } 
#e__I1310931499476 { 
 height: 22.00px;
color: rgba(30, 30, 30, 1.00);
font-family: Inter;
font-weight: 600;
padding: 0px 0px 0px 0px;
text-align: left;
font-size: 16px; 
 } 
#e__I1310931499477 { 
 width: 20px;
height: 20.00px;
padding: 0px 0px 0px 0px; 
 } 
#e__I1310931499477775811218 { 
 width: 10px;
height: 5.00px;
padding: 0px 0px 0px 0px; 
 } 
#e__131067 { 
 border: 1px solid rgba(217, 217, 217, 1.00);
height: 54.00px;
background-color: rgba(245, 245, 245, 1.00);
display: flex;
flex-direction: row;
width: calc(100% -  32px);
align-items: center;
justify-content: flex-start;
flex: 1 1 0%;
padding: 16px 16px 16px 16px;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
border-bottom-right-radius: 8px;
border-bottom-left-radius: 8px; 
 } 
#e__I1310671499475 { 
 display: flex;
flex-direction: row;
column-gap: 8px;
align-items: center;
justify-content: flex-start;
flex: 1 1 0%;
padding: 0px 0px 0px 0px; 
 } 
#e__I1310671499476 { 
 height: 22.00px;
color: rgba(30, 30, 30, 1.00);
font-family: Inter;
font-weight: 600;
padding: 0px 0px 0px 0px;
text-align: left;
font-size: 16px; 
 } 
#e__I1310671499477 { 
 width: 20px;
height: 20.00px;
padding: 0px 0px 0px 0px; 
 } 
#e__I1310671499477775811218 { 
 width: 10px;
height: 5.00px;
padding: 0px 0px 0px 0px; 
 } 
